<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>Servlets.UserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientManagementServlet</servlet-name>
        <servlet-class>Servlets.ClientManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagementServlet</servlet-name>
        <servlet-class>Servlets.AdminManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRetrievalServlet</servlet-name>
        <servlet-class>Servlets.AdminRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleInfoServlet</servlet-name>
        <servlet-class>Servlets.VehicleInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleManagementServlet</servlet-name>
        <servlet-class>Servlets.VehicleManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleRetrievalServlet</servlet-name>
        <servlet-class>Servlets.VehicleRetrievalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleShowManagementServlet</servlet-name>
        <servlet-class>Servlets.VehicleShowManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleUserTypeServlet</servlet-name>
        <servlet-class>Servlets.RoleUserTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParkingLotManagementServlet</servlet-name>
        <servlet-class>Servlets.ParkingLotManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/UserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManagementServlet</servlet-name>
        <url-pattern>/AdminManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRetrievalServlet</servlet-name>
        <url-pattern>/AdminRetrievalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientManagementServlet</servlet-name>
        <url-pattern>/ClientManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleInfoServlet</servlet-name>
        <url-pattern>/VehicleInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleManagementServlet</servlet-name>
        <url-pattern>/VehicleManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleRetrievalServlet</servlet-name>
        <url-pattern>/VehicleRetrievalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleShowManagementServlet</servlet-name>
        <url-pattern>/VehicleShowManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleUserTypeServlet</servlet-name>
        <url-pattern>/RoleUserTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParkingLotManagementServlet</servlet-name>
        <url-pattern>/ParkingLotManagementServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
